<div>
  <h1 class='text-center'>Welcome to MusixMatch !</h1>
  <hr>
  <p class= 'mt-5'>A place where you can enter a song title, fetch artist and lyrics, and store all of this in database. For other features, let's see later.</p>
  <div class="d-flex w-100 justify-content-end mt-5">
    <%= link_to 'See my songs', songs_path, class: 'btn btn-warning text-white' %>
  </div>
</div>
