@import "config/colors";
@import "config/fonts";
@import "config/bootstrap_variables";

@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "components/index";

a {
  color: $warning;
  text-decoration: none;
  &:hover {
    color: $warning;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  }
}

.alert {
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin-bottom: 0;
}
